services:
  db:
    image: postgres:latest
    restart: always
    tty: true
    volumes:
      - ./Docker-Compose/PostgreSQL:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=seletivo
    networks:
      - mynetwork
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      retries: 5
      start_period: 10s

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin123
      MINIO_ROOT_PASSWORD: strongpassword123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
    networks:
      - mynetwork

  minio-init:
    image: alpine:latest
    container_name: minio-init
    depends_on:
      - minio
    volumes:
      - ./init_minio.sh:/app/init_minio.sh
    entrypoint: >
      /bin/sh -c "
      apk add --no-cache bash curl grep jq sed &&
      curl -O https://dl.min.io/client/mc/release/linux-amd64/mc &&
      chmod +x mc &&
      mv mc /usr/local/bin/mc &&
      sleep 5 &&
      /app/init_minio.sh"
    networks:
      - mynetwork

  api:
    build: ../app
    container_name: api-processo-seletivo
    restart: always
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/seletivo
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      MINIO_URL: http://minio:9000
      MINIO_ACCESS_KEY: admin123
      MINIO_SECRET_KEY: strongpassword123
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - mynetwork

volumes:
  minio_data:
    driver: local

networks:
  mynetwork:
    driver: bridge
